body {
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  margin: 0;
  height: 70px;
  box-shadow: -1px -1px 5px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.logo {
  max-height: 100%;
  width: auto;
}

.logo-link {
  padding: 0;
  /*max-width: 40%;*/
  margin-left: 50px;
}

.header {
  height: 130px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-content: center;
  box-shadow: 1px 1px 5px grey;
}

.header form {
  align-self: center;
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.connexion {
  padding: 10px 17px 10px 17px;
  font-size: 30px;
  background-color: #D15595;
  border: none;
  border-radius: 0;
  color: white;
  box-shadow: 2px 2px 0 white, 7px 7px 0 #D0D5D9, inset 0 0 0 0 #27496d, inset 0 0 0 #193047;
  font-family: purisa;
  font-weight: bold;
  z-index: 10;
  transition: box-shadow 1s ease;
}

.deconnexion {
  padding: 10px 17px 10px 17px;
  font-size: 30px;
  background-color: #D15595;
  border: none;
  border-radius: 0;
  color: white;
  box-shadow: 2px 2px 0 white, 7px 7px 0 #D0D5D9, inset 0 0 0 0 #27496d, inset 0 0 0 #193047;
  font-family: purisa;
  font-weight: bold;
  z-index: 10;
  transition: box-shadow 1s ease;
}
.password {


  right: 277px;
  display: none;

}

.login {



  right: 487px;
  display: none;
  z-index: 5;

}

.header input {
  opacity: 1;

  position: absolute;
  height: 60px;
  background-color: white;
  border: 2px solid #979797;
  box-shadow: none;
  width: 190px;
  font-family: purisa;
  font-size: 20px;
  color: black;
}

.header input::placeholder {
  font-family: purisa;
  font-size: 20px;
  color: #979797;
  opacity: 0.7;
}

.insetShadowH {
  box-shadow: 2px 2px 0 white, 7px 7px 0 #D0D5D9, inset 0 0 0 1px black, inset 0 4px 25px black;
  transition: box-shadow 1s ease;
}

.footer a img {
  max-height: 100%;
  width: auto;
}

.footer a img:nth-child(2) {
  margin: 0 50px;
}

.footer a {
  height: 75%;
  /*display: block;*/
  display: flex;
  position: relative;
}

.anim_login {
  animation: login 1.5s ease-in-out;
  display: block;
}

.anim_pass {
  animation: pass 1.5s ease-in-out;
  display: block;
}

@keyframes login {
  0% {
    right: 67px;
    opacity: 0.1;
  }
  30% {
    right: 547px;
    opacity: 0.3;
  }
  60% {
    right: 467px;
    opacity: 0.6;
  }
  80% {
    right: 497px;
    opacity: 0.8;
  }
  100% {
    right: 487px;
    opacity: 1;
  }
}

@keyframes pass {
  0% {
    right: 67px;
    opacity: 0.1;
  }
  30% {
    right: 327px;
    opacity: 0.3;
  }
  60% {
    right: 257px;
    opacity: 0.6;
  }
  80% {
    right: 287px;
    opacity: 0.8;
  }
  100% {
    right: 277px;
    opacity: 1;
  }
}
