@font-face {
    font-family: Purisa;
    src: url(./fonts/Purisa.ttf);
}

* {
  /*border: 1px solid black;*/
  font-family: "Purisa";
}

.accueil .container {
  width: 50%;
  padding: 0;
}

.accueil .input-group {
  margin: 31px 0 30px 0;
}

.accueil .input-group img {
  height: 20px;
}

.form-control {
  height: 36px;
}

.accueil #navbar {
  padding: 0;
  width: 95%;
  margin: auto;
}

.accueil .navbar {
  margin-bottom: 37px;
}

.accueil #navbar ul {
  padding: 0;
  margin: 0;
}

.navbar-nav li {
  margin-right: 8px;
}

.btnAccueil {
  width: 8vw;
  padding: 20px 0;
  background-color: #F6AC2E;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  box-shadow: 2px 2px 0px white, 7px 7px 0px #D0D5D9, inset 0 0 0 0px black, inset 0 0px 0px #193047;
  margin: 0px 0.5vw 0 0.5vw;
  /*transition: box-shadow 1s ease;*/
}

h5 {
  color: black;
  text-align: center;
}
.insetShadow {
  box-shadow: 2px 2px 0px white, 7px 7px 0px #D0D5D9, inset 0 0 0 1px #27496d, inset 0 2px 15px #193047;
  transition: box-shadow 1s ease, color 1s ease;
  /*color: #005680 !important;*/
}

.insetShadow:hover {
  color: white !important;
  transition: color 1s ease;
}

.accueil #navbar a {
  transition: color 0.3s ease, font-size 0.3s ease, box-shadow 1s ease;
  padding: 15px 0;
  color: white;
}

.accueil #navbar a:hover {
  color: #5F8EB7;
  font-size: 26px;
  background-color: #F6AC2E;
  transition: color 0.3s ease, font-size 0.3s ease, box-shadow 1s ease;
}

.accueil #navbar a:focus {
  /*color: #005680;*/
  /*color: white;*/
  background-color: #F6AC2E;
  font-size: 24px;
  outline-offset: inherit;
}

.accueil .row {
  margin: 0 0;
}

.accueil .grille {
  padding: 0;
  margin: 0;
}

.accueil .livre {
  padding: 0;
  filter: blur(0px);
  background-color: rgba(47,160,190,0);
  transition: background-color 2s;
  /*transition:  filter 0.5s linear 0.25;*/
}

.accueil .livre img {
  width: 100%;
  padding: 5px;
  z-index: -1;
  filter: blur(0px);
  transition:  filter 0.5s linear 0.25s;

}

.accueil .livre:hover .book_img {
  filter: blur(5px);
  transition:  filter 0.75s;
}
.accueil .livre:hover {
  background-color: rgba(47,160,190,1);
  transition: background-color 2s;
}

.accueil .livre .add_img {
  width:35%;
  transition: width 0.5s ease;

}

.fav_link:hover .add_img {
  width:45%;
transition: width 0.5s ease;
}

.accueil .ensemblegauche {
  width: 50%;
  margin: auto;
  font-weight: bold;
  text-align: center;
  border: 1px solid #D0D5D9;
  border-top: none;
  box-shadow: 2px 2px 0px white, 7px 7px 0px #D0D5D9;
}

.accueil .menugauche ul {
  padding-bottom: 10px;
}

.accueil .menugauche h2 {
  margin: 0px 0px 10px 0px;
  padding: 10px 0;
  border-bottom: 1px solid #D0D5D9;
  border-top: 1px solid #D0D5D9;
}

.accueil .menugauche a {
  border-radius: 0px;
  padding: 3px 0px 3px 0px;
}

.accueil .menugauche a:hover {
  background-color: #CED4D8;
}

.accueil .menugauche a:focus {
  background-color: #2FA0BE;
  color: white;
}

.accueil .menudroite {
  overflow: hidden;

}

.accueil .ensembledroite {
  height: 510px;
  /*overflow-y: scroll;*/
  width: 50%;
  margin: auto;
  border: 1px solid #D0D5D9;
  padding: 10px;
  color: #337AB7;
 box-shadow: 2px 2px 0px white, 7px 7px 0px #D0D5D9;


}

.accueil .menudroite h3 {
  margin-top: 10px;
  color: black;
}

.accueil .btn-blue img {
  width: 30px;
  height: 30px;
}

.accueil .icon-bar {
  border: 3px solid #F6AC2E;
}

.accueil .menudroite h3 {
  text-align: center;
}

.fav {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
font-size: 20px;
overflow: hidden;
  text-align: center;
  color: white;
  z-index: 5;
  padding: 5px 0 0 0;

}

.fav .fiche_link {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px black;
}

.fav .fiche_link::after {
  width: 0%;
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
}

.fav .fiche_link:hover::after {
  width: 85%;
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  height: 1px;
  transition: width 0.5s;
}

.anim_fav {
  animation: anim_fav 0.5s ease-in-out;
  display: block;
}

.anim_fav_rev {
  animation: anim_fav_rev 0.5s 0.25s ease-in-out;
  display: block;
}

@keyframes anim_fav {
  0% {
    height: 0%;
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes anim_fav_rev {
  0% {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    height: 0%;
    background-color: rgba(0, 0, 0, 0);
  }
}

.inner_fav{
  top: 20px;
  overflow: hidden;
  position: absolute;
  width:100%;
  text-align: center;
}


.blurImg {
  animation: blur 0.5s;
}

/*@keyframes blur {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(5px);
  }

}*/
